/* css reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* general styling - -посояные правила*/

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5px;
}

.section-title {
    margin: 80px 0 15px 0;
    text-align: center;
}

.upper-case {
    text-transform: uppercase;
}

/* header */
.header-container {
    background: rgba(0, 0, 0, .8);
    color: white;
    position: sticky;
    top: 0;
}

@keyframes show-element {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px;
}

.header__title--suffix {
    color: #03b0ff;
    font-style: normal;
}

.navigation__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.navigation__list-item {
    margin-right: 10px;
    font-size: 18px;
}

.mobile-menu-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    width: 21px;
    height: 21px;
    border: 0;
    color: silver;
    background:
        linear-gradient(currentcolor, currentcolor) top center / 100% 3px no-repeat,
        linear-gradient(currentcolor, currentcolor) center center / 100% 3px no-repeat,
        linear-gradient(currentcolor, currentcolor) bottom center / 100% 3px no-repeat;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    color: white;
    background:
        linear-gradient(currentcolor, currentcolor) top center / 100% 3px no-repeat,
        linear-gradient(currentcolor, currentcolor) center center / 100% 3px no-repeat,
        linear-gradient(currentcolor, currentcolor) bottom center / 100% 3px no-repeat;
    cursor: pointer;
}

/* content */
.about {
    padding-top: 25px;
}

.about__my-photo {
    margin: 0 auto;
    display: block;
    width: 250px;
}

.about__my-brith,
.about__my-name {
    text-align: center;
}

.skills__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.skills-card {
    padding: 15px 5px;
}

.chess-background {
    background: #03b0ff;
    color: white;
}

.skills-card__image {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 15px auto;
    object-fit: cover;
}

.strengths__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    text-align: center;
}

.strengths__card {
    padding: 15px 5px;
}

.portfolio__box {
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.portfolio__item {
    width: 45%;
}

.portfolio__item-preview {
    width: 100%;
    height: auto;
    max-height: 230px;
    overflow: hidden;
    object-fit: contain;
}

.demos__box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.demos__item {
    width: 30%;
}

.demos__item-preview {
    width: 100%;
    height: 100%;
    outline: 1px solid rgba(192, 192, 192, .5);
}

.demos__item-signature {
    text-align: center;
}

/* footer */
.footer-container {
    padding: 10px 0;
    margin-top: 60px;
    background: rgba(0, 0, 0, .8);
    color: white;
}

.footer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

.contacts-footer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* media */
@media (max-width: 575px) {
    .header {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .mobile-menu-btn {
        display: block;
    }

    .navigation__list {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 6px;
    }

    .navigation__list-item {
        margin: 0 auto;
        margin-bottom: 5px;
        text-align: center;
    }

    .skills__box {
        grid-template-columns: 1fr;
    }

    .strengths__box {
        grid-template-columns: 1fr;
    }

    .strengths__card,
    .skills-card {
        padding: 10px 40px;
    }

    .portfolio__box {
        display: block;
    }

    .portfolio__item {
        width: 80%;
        margin: 0 auto;
    }

    .demos__box {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .demos__item {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .u-menu-input+.navigation {
        display: none;
    }

    .u-menu-input {
        display: block;
        transition: 1s;
    }
}

.u-menu-input {
    display: none;
}

.u-menu-input:checked+.navigation {
    display: block;
}

@media (max-width: 400px) {

    .strengths__card,
    .skills-card {
        padding: 10px 45px;
        width: 100%;
    }

    .portfolio__item {
        width: 100%;
    }

    .demos__item {
        width: 100%;
    }
}